label {
    display: block;
    box-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
    margin: 1em;
    border-radius: 1ex;
    padding: 1ex 1em;
  }
  input[type=number] {
    text-align: right;
    border: none;
  }
  input {
    float: right;
  }
  span {
    font-weight: bold;
  }


  body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/calculators.jpg); 
    min-height: 100vh;
}
div{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: grey;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px white;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
.text{
    text-align: left;
    margin-left: 150px;
}
#weight, #height, #female, #male{
    color: #193453;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #e8e6f0;
    width: 200px;
    position:relative; left: 0; top:-2px;
    cursor: pointer;
}
    #weight:focus, #height:focus{
        border-bottom: 2px solid #e8e6f0;
        width: 300px;
        transition: 0.5s;
    }
    #female:focus, #male:focus{
        border-bottom: 2px solid #e8e6f0;
        width: 300px;
        transition: 0.5s;
    }




    #result{
        color: black;
    }
    #btn{
        font-family: inherit;
        margin-top: 10px;
        border: none;
        color: black;
        background-color: grey;
        border: 1px solid rgb(223, 207, 207);
        width: 150px;
        padding: 10px;
        outline: none;
        cursor: pointer;
    }
    #btn:hover{
        box-shadow: 1px 1px 10px white;
    }
    #info{
        font-size: 12px;
        font-family: inherit;
    }

    .button{
        display: inline-block;
        text-decoration: none;
        color: black;
        border: 1px solid rgb(223, 207, 207);
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position:relative; 
        cursor: pointer;
    }
    
    .button:hover{
        box-shadow: 1px 1px 10px white;
    }

    
    